<div class="container">
    <h1 class="align-center">Recital Blooms Products</h1>

    <div class="container">
        <h2 class="align-center">Rose Bouquets - Available in all colors. Full and Half Dozen Options.</h2>
        <ul class="products">
            <li><img src='@Context.GetLink("./img/rosebouquet1.jpeg")' alt="Rose Boquet 1 - Recital Blooms" /></li>
            <li><img src='@Context.GetLink("./img/rosebouquet3.jpeg")' alt="Rose Boquet 2 - Recital Blooms" /></li>
            <li><img src='@Context.GetLink("./img/rosebouquet4.jpeg")' alt="Rose Boquet 3 - Recital Blooms" /></li>
            <li><img src='@Context.GetLink("./img/rosebouquet6.jpeg")' alt="Rose Boquet 4 - Recital Blooms" /></li>
        </ul>
    </div>

    <div class="container mini-bouquets">
        <h2 class="align-center">Mini Bouquets - Available in all colors.</h2>
        <ul class="products">
            <li><img src='@Context.GetLink("./img/mini-bouquets/mini-bouquet1.jpeg")'
                    alt="Mini Boquet 1 - Recital Blooms" /></li>
            <li><img src='@Context.GetLink("./img/mini-bouquets/mini-bouquet2.jpeg")'
                    alt="Mini Boquet 2 - Recital Blooms" /></li>
            <li><img src='@Context.GetLink("./img/mini-bouquets/mini-bouquet3.jpeg")'
                    alt="Mini Boquet 3 - Recital Blooms" /></li>
            <li><img src='@Context.GetLink("./img/mixed-bouquets/mixed-bouquet3.jpeg")'
                    alt="Mixed Boquet 3 - Recital Blooms" /></li>
        </ul>
    </div>

    <div class="container">
        <h2 class="align-center">Ballerina Teddy Bears - Available in all colors.</h2>
        <div class="align-center"><img src='@Context.GetLink("./img/bears.jpeg")'
                alt="Ballerina Teddy Bears - Recital Blooms" class="teddy-bear-pic" /></div>
    </div>

    <div class="container align-center">
        <a class="btn" href="/#contact">Contact Us to Order</a>
    </div>
</div>