<div class="container">
    <h1 class="align-center">Recital Blooms Products</h1>

    <div class="container">
        <h2 class="align-center">Rose Bouquets - Available in all colors! - Half and Full Dozen</h2>
        <ul class="products">
            <li><img src='@Context.GetLink("./img/rosebouquet1.jpeg")' alt="Rose Boquet 1 - Recital Blooms" /></li>
            <li><img src='@Context.GetLink("./img/rosebouquet3.jpeg")' alt="Rose Boquet 2 - Recital Blooms" /></li>
            <li><img src='@Context.GetLink("./img/rosebouquet4.jpeg")' alt="Rose Boquet 3 - Recital Blooms" /></li>
            <li><img src='@Context.GetLink("./img/rosebouquet6.jpeg")' alt="Rose Boquet 4 - Recital Blooms" /></li>
        </ul>
    </div>

    <div class="container">
        <h2 class="align-center">Ballerina Teddy Bears</h2>
        <ul class="products">
            <li><img src='@Context.GetLink("./img/bear1.jpeg")' alt="Ballerina Teddy Bear 1 - Recital Blooms" /></li>
            <li><img src='@Context.GetLink("./img/bear2.jpeg")' alt="Ballerina Teddy Bear 2 - Recital Blooms" /></li>
        </ul>
    </div>

    <div class="container align-center">
        <a class="btn" href="/#contact">Contact Us to Order</a>
    </div>
</div>